---
layout: default
---

<div class="blog-intro">
  <p> Notes on my evolving thought process around the use of AI in our weird new world. </p>
  
  <p>I used AI to design this website (which was pretty fun), but the blog posts are 100% written by me. Call me old school, I guess. </p>
</div>

<ul class="post-list">
  {% for post in site.posts %}
  <li>
    <time class="post-date" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%B %-d, %Y" }}</time>
    <a href="{{ post.url }}" class="post-link">{{ post.title }}</a>
    {% if post.subtitle %}
    <p class="post-summary">{{ post.subtitle }}</p>
    {% endif %}
    {% if post.tags.size > 0 %}
    <div class="post-tags-inline">
      {% for tag in post.tags %}
      <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>
